<div>
    <div  class="modal-header modal-header-primary">
        <div>Download files</div>
    </div>
    <div class="modal-body">
        <div class="container">
            <div class="row">
                <div ng-repeat="doc in downloadResults"><a ng-click="vm.downloadDoc(doc)"><i class="glyphicon glyphicon-download-alt"></i> {{doc.OriginalFileName}}</a></div>
                    <div class="form-group">
                        <div class="form-group text-right">
                            <!-- Indicates a successful or positive action -->
                            <button type="button" class="btn btn-default btn-outline" ng-click="vm.cancel();">Cancel</button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>