<div ng-controller="batchProfileController">

 <div class="container">

        <div class="row" ng-show="!loadData">
            
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-lg-7"> <strong>Customize your OCR settings or create an existing Profile</strong></div>
                        <div class="col-lg-5 panel-heading-btn">
                            <button type="button" ng-show="profileIsChanged" class="btn btn-success btn-sm" ng-click="updateSettings();" data-toggle="tooltip"
                                    title="Save Profile" data-placement="bottom">
                                <span class="glyphicon glyphicon-check"></span> Update Current Profile
                            </button>
                            <button type="button" class="btn btn-primary btn-sm orange-tooltip" ng-click="showNewProfile(true)" data-toggle="tooltip" title="Add New Profile"
                                    data-placement="bottom">
                                <span class="glyphicon glyphicon-plus"></span> Save to New Profile
                            </button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="input-group">
                        <span class="input-group-addon input-group-addon-same-width">
                            <input type="checkbox" aria-label="Checkbox for following text input"
                                   ng-model="currentProfile.isDefault" ng-change="changeDefaultProfile()" ng-disabled="currentProfile.isDefault"> Is Default
                        </span>
                        <select class="form-control" ng-change="changeProfile()" ng-options="profile as profile.Name for profile in profiles track by profile.Id"
                                ng-model="currentProfile"></select>
                    </div>
                    <div id="toolbar">
                        <div class="input-group" ng-show="newProfile">

                            <span class="input-group-addon input-group-addon-same-width">
                                New Profile Name
                            </span>
                            <input type="text" class="form-control" placeholder="New profile name" ng-model="NewProfileName">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-success orange-tooltip no-border-radius" ng-click="createNewSettings();" data-toggle="tooltip" title="Create new profile"
                                        data-placement="bottom">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </button>
                            </span>

                            <span class="input-group-btn">
                                <button type="button" class="btn btn-danger orange-tooltip" ng-click="showNewProfile(false);" data-toggle="tooltip" title="Hide"
                                        data-placement="bottom">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>

                </div>
            </div>



            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">Cleanup Settings</div>
                        <!--<div class="panel-body">-->

                        <ul class="list-group">

                            <li class="list-group-item">
                                Deskew
                                <div class="material-switch pull-right">
                                    <input id="deskew" type="checkbox" ng-model="currentProfile.Deskew" />
                                    <label for="deskew" class="label-success"></label>
                                </div>
                            </li>

                            <li class="list-group-item">
                                Remove Garbage
                                <div class="material-switch pull-right">
                                    <input id="removeGarbage" type="checkbox" ng-model="currentProfile.RemoveGarbage" />
                                    <label for="removeGarbage" class="label-success"></label>
                                </div>
                            </li>

                            <li class="list-group-item">
                                Remove Texture
                                <div class="material-switch pull-right">
                                    <input id="removeTexture" type="checkbox" ng-model="currentProfile.RemoveTexture" />
                                    <label for="removeTexture" class="label-success"></label>
                                </div>
                            </li>

                            <li class="list-group-item">
                                Split Dual Page
                                <div class="material-switch pull-right">
                                    <input id="splitDualPage" type="checkbox" ng-model="currentProfile.SplitDualPage" />
                                    <label for="splitDualPage" class="label-success"></label>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon_rotation">Rotation Type</span>

                                    <select class="form-control" ng-options="rotation as rotation.Name for rotation in currentProfile.AvailableRotationTypes track by rotation.Id"
                                        ng-model="currentProfile.SelectedRotationType" aria-describedby="sizing-addon_rotation"></select>
                                </div>
                            </li>

                            <!--<li class="list-group-item">
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon_out">Output Format</span>

                                    <input type="text" class="form-control" ng-model="currentProfile.OutputFormat" aria-describedby="sizing-addon_out">
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon_res">Resolution</span>
                                    <input type="text" class="form-control" ng-model="currentProfile.Resolution" aria-describedby="sizing-addon_res">
                                </div>

                            </li>

                            <li class="list-group-item">
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon_jpeg">Jpeg Quality</span>
                                    <input type="text" class="form-control" ng-model="currentProfile.JpegQuality" aria-describedby="sizing-addon_jpeg">
                                </div>

                            </li>-->
                        </ul>

                        <!--</div>-->
                        <div class="panel panel-info form-group">
                            <div class="panel-heading">Print Types</div>

                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="print in currentProfile.AvailablePrintTypes">
                                    {{print.Name}}
                                    <div class="material-switch pull-right">
                                        <input id="{{print.Name}}" type="checkbox" checklist-model="currentProfile.SelectedPrintTypes" checklist-value="print" checklist-comparator=".Id"
                                               checklist-change="imChanged()" />
                                        <label for="{{print.Name}}" class="label-success"></label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">OCR Settings</div>
                        <!--<div class="panel-body">-->
                        <li class="list-group-item">
                            Speed OCR
                            <div class="material-switch pull-right">
                                <input id="speedOcr" type="checkbox" ng-model="currentProfile.SpeedOcr" />
                                <label for="speedOcr" class="label-success"></label>
                            </div>
                        </li>

                        <li class="list-group-item">
                            Look For BarCodes
                            <div class="material-switch pull-right">
                                <input id="lookForBarCodes" type="checkbox" ng-model="currentProfile.LookForBarCodes" />
                                <label for="lookForBarCodes" class="label-success"></label>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="input-group">
                                <span class="input-group-addon" id="sizing-addon_analysis_mode">Analysis Mode</span>

                                <select class="form-control" ng-options="aMode as aMode.Name for aMode in currentProfile.AvailableAnalysisModes track by aMode.Id"
                                    ng-model="currentProfile.SelectedAnalysisModel" aria-describedby="sizing-addon_analysis_mode"></select>
                            </div>
                        </li>

                        <div class="panel panel-info form-group">
                            <div class="panel-heading">Languages</div>
                            <input type="text" class="form-control" placeholder="Filter" ng-model="searchLangText">
                                        <ul class="list-group" style="height: 200px; overflow-y: scroll;">
                                            <li class="list-group-item" ng-repeat="lang in currentProfile.AvailableLanguages | filter:searchLangText">
                                                {{lang.Name}}
                                                <div class="material-switch pull-right">
                                                    <input id="{{lang.Name}}" type="checkbox" checklist-model="currentProfile.SelectedLanguages" checklist-value="lang" checklist-comparator=".Id"
                                                           checklist-change="imChanged()"/>
                                                    <label for="{{lang.Name}}" class="label-success"></label>
                                                </div>
                                            </li>
                                        </ul>

                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">Output Settings</div>
                        <!--<div class="panel-body">-->
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="format in currentProfile.AvailableExportFormats">
                                {{format.Name}}
                                <div class="material-switch pull-right">
                                    <input id="{{format.Name}}" type="checkbox" checklist-model="currentProfile.SelectedExportFormats" checklist-value="format"
                                        checklist-comparator=".Id" checklist-change="imChanged()" />
                                    <label for="{{format.Name}}" class="label-success"></label>
                                </div>
                            </li>
                        </ul>
                        
                    </div>
                </div>

                
            </div>
        </div>

    </div>
</div>