<head>
    <link rel="stylesheet" type="text/css" href="./Content/sb-admin-2.css">
    <link rel="stylesheet" type="text/css" href="./Content/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="./Content/metisMenu.min.css">

    <script>
        function test() {
            $('.projectsUl').collapse()
        }
    </script>
</head>
<div ng-controller="dashBoardController">



    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0; position: fixed; width: 100%;">
            <div id="top-header" class="hidden-xs">
                <div class="container clearfix">


                    <div id="et-info">
                        <span class="fa fa-phone"></span><span id="et-info-phone">(510)754-9866</span>

                        <span style="margin-left: 10px;" class="fa fa-envelope"></span><a href="mailto:support@datacapture.cloud"><span id="et-info-email">  support@datacapture.cloud</span></a>

                        <ul class="et-social-icons">

                            <li class="et-social-icon et-social-facebook">
                                <a href="#" class="icon">
                                    <span class="fa fa-facebook"></span>
                                </a>
                            </li>
                            <li class="et-social-icon et-social-twitter">
                                <a href="#" class="icon">
                                    <span class="fa fa-twitter"></span>
                                </a>
                            </li>
                            <li class="et-social-icon et-social-google-plus">
                                <a href="#" class="icon">
                                    <span class="fa fa-google-plus"></span>
                                </a>
                            </li>
                            <li class="et-social-icon et-social-rss">
                                <a href="http://www.datacapture.cloud/feed/" class="icon">
                                    <span class="fa fa-rss"></span>
                                </a>
                            </li>

                        </ul>
                    </div> <!-- #et-info -->


                    <div id="et-secondary-menu">
                        <div class="et_duplicate_social_icons">
                            <ul class="et-social-icons">

                                <li class="et-social-icon et-social-facebook">
                                    <a href="#" class="icon">
                                        <span>Facebook</span>
                                    </a>
                                </li>
                                <li class="et-social-icon et-social-twitter">
                                    <a href="#" class="icon">
                                        <span>Twitter</span>
                                    </a>
                                </li>
                                <li class="et-social-icon et-social-google-plus">
                                    <a href="#" class="icon">
                                        <span>Google</span>
                                    </a>
                                </li>
                                <li class="et-social-icon et-social-rss">
                                    <a href="http://www.datacapture.cloud/feed/" class="icon">
                                        <span>RSS</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div> <!-- #et-secondary-menu -->

                </div> <!-- .container -->
            </div>
            <div class="wp-header">
                <img class="pull-left" style="width: 130px; padding-left: 10px; padding-right: 10px; margin-bottom: -15px;" src="Content/icons/Logo-OCR.-Data-capture-Cloud-Service-ABBYY-FineReader-Nuance-AnyDoc-Kofax-logo-500x300.png" />
                <nav class="navbar portal-header pull-left" style="margin-top: 10px;">
                    <div class="container-fluid">
                        <ul class="nav navbar-nav">
                            <li><a href="javascript:void(0)">DataCapture.cloud Portal</a></li>
                        </ul>
                    </div>
                </nav>

                <nav class="navbar portal-header pull-right hidden-xs hidden-sm" style="margin-top: 10px;">
                    <div class="container-fluid">
                        <ul class="nav navbar-nav">
                            <li><a href="http://www.datacapture.cloud/">Home</a></li>
                            <li><a href="http://www.datacapture.cloud/portal_support">Support</a></li>
                            <li><a href="http://www.datacapture.cloud/portal_faq">FAQ</a></li>
                            <li><a href="http://www.datacapture.cloud/portal_documentation">Documentation</a></li>
                            <li><a href="#"><i class="fa fa-search fa-fw"></i></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="container clearfix"></div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"
                        style="position: absolute; right: 0px;">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--<a class="navbar-brand" style="color: #3914AF" ng-click="exitQuestion();"><img border="0" alt="FCC Portal" src="Content/puzzle.png" height="24"> DataCapture.cloud Portal</a>-->
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-left" style="cursor: pointer">
            <!--
            <!-- /.dropdown -->
            <li ng-show="userData.UserData.UserRoleId==1 || userData.UserData.UserRoleId==4" style="padding: 15px; min-height: 50px;"></li>
                <li class="dropdown" ng-show="userData.UserData.UserRoleId==3 || userData.UserData.UserRoleId==2">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <span ng-if="serviceStateId==1"><i class="fa fa-file-o fa-fw"></i> <b>Single File Conversion</b></span>
                        <span ng-if="serviceStateId==2"><i class="fa fa-file-archive-o fa-fw"></i> <b>Batch File Conversion</b></span>
                        <span ng-if="serviceStateId==3"><i class="fa fa-hdd-o fa-fw"></i> <b>FTP Conversion</b></span>
                        <span ng-if="serviceStateId==4"><i class="fa fa-envelope-o fa-fw"></i> <b>E-mail Attachment Conversion</b></span>
                        <span ng-if="serviceStateId!=1 && serviceStateId!=2 && serviceStateId!=3 && serviceStateId!=4"><b>Services</b></span>
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu scrollable-menu big-menu">
                        <li class="divider"></li>
                        <li>
                            <div class="row">
                                <div class="col-lg-9">
                                    <a class="padding-5" href="" ng-click="selectService(1, 'singleSer', userData.ServiceData.SingleFileConversionService);">
                                        <i class="fa fa-file-o fa-fw"></i> Single File Conversion
                                    </a>
                                </div>
                                <div class="col-lg-3">
                                    <a class="padding-5" ng-click="selectService(6, 'singleSer');">
                                        <span class="text-muted small" ng-class="userData.ServiceData.SingleFileConversionService?'service-acts':''">
                                            {{userData.ServiceData.SingleFileConversionService?'Active':'Sign up'}}
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="row">
                                <div class="col-lg-9">
                                    <a class="padding-5" href="" ng-click="selectService(2, 'batchCon', userData.ServiceData.BatchFileConversionService);">
                                        <i class="fa fa-file-archive-o fa-fw"></i> Batch File Conversion
                                    </a>
                                </div>
                                <div class="col-lg-3">
                                    <a class="padding-5" ng-click="selectService(6, 'batchCon');">
                                        <span class="text-muted small" ng-class="userData.ServiceData.BatchFileConversionService?'service-acts':''">
                                            {{userData.ServiceData.BatchFileConversionService?'Active':'Sign up'}}
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>

                        <li>
                            <div class="row">
                                <div class="col-lg-9">
                                    <a class="padding-5" href="" ng-click="selectService(4, 'emailAtt', userData.ServiceData.EmailAttachmentFileConversionService);">
                                        <i class="fa fa-envelope-o fa-fw"></i> E-mail Attachment Conversion
                                    </a>
                                </div>
                                <div class="col-lg-3">
                                    <a class="padding-5" ng-click="selectService(6, 'emailAtt');">
                                        <span class="text-muted small" ng-class="userData.ServiceData.EmailAttachmentFileConversionService?'service-acts':''">
                                            {{userData.ServiceData.EmailAttachmentFileConversionService?'Active':'Sign up'}}
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>

                        <li>
                            <div class="row">
                                <div class="col-lg-9">
                                    <a class="padding-5" href="" ng-click="selectService(3, 'ftpCon', userData.ServiceData.FTPFileConversionService);">
                                        <i class="fa fa-hdd-o fa-fw"></i> FTP Conversion
                                    </a>
                                </div>
                                <div class="col-lg-3">
                                    <a class="padding-5" ng-click="selectService(6, 'ftpCon');">
                                        <span class="text-muted small" ng-class="userData.ServiceData.FTPFileConversionService?'service-acts':''">
                                            {{userData.ServiceData.FTPFileConversionService?'Active':'Sign up'}}
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>

                        <li>
                            <div class="row">
                                <div class="col-lg-9">
                                    <a class="padding-5" ng-click="selectService(6, 'cloudCon');">
                                        <i class="fa fa-cloud-upload fa-fw"></i> Cloud Storage Conversion
                                    </a>
                                </div>
                                <div class="col-lg-3">
                                    <a class="padding-5" ng-click="selectService(6, 'cloudCon');">
                                        <span class="text-muted small">Sign up</span>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>

                        <li>
                            <div class="row">
                                <div class="col-lg-9">
                                    <a class="padding-5" ng-click="selectService(6, 'agentCon');">
                                        <i class="fa fa-desktop fa-fw"></i> Windows/Mac/Linux Conversion Agent
                                    </a>
                                </div>
                                <div class="col-lg-3">
                                    <a class="padding-5" ng-click="selectService(6, 'agentCon');">
                                        <span class="text-muted small">Sign up</span>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>

                        <li>
                            <div class="row">
                                <div class="col-lg-9">
                                    <a class="padding-5" ng-click="selectService(6, 'webOcr');">
                                        <i class="fa fa-file-text-o fa-fw"></i> Online Web OCR API
                                    </a>
                                </div>
                                <div class="col-lg-3">
                                    <a class="padding-5" ng-click="selectService(6, 'webOcr');">
                                        <span class="text-muted small">Sign up</span>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>

                        <li>
                            <div class="row">
                                <div class="col-lg-9">
                                    <a class="padding-5" ng-click="selectService(6, 'dataForm')">
                                        <i class="fa fa-file-text-o fa-fw"></i> Data Capture & Form Processing
                                    </a>
                                </div>
                                <div class="col-lg-3">
                                    <a class="padding-5" ng-click="selectService(6, 'dataForm')">
                                        <span class="text-muted small">Sign up</span>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>

                        <li>
                            <div class="row">
                                <div class="col-lg-9">
                                    <a class="padding-5" ng-click="selectService(6, 'mobileCap')">
                                        <i class="fa fa-file-text-o fa-fw"></i> Mobile Image Capture Front End
                                    </a>
                                </div>
                                <div class="col-lg-3">
                                    <a class="padding-5" ng-click="selectService(6, 'mobileCap')">
                                        <span class="text-muted small">Sign up</span>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>

                        <li>
                            <div class="row">
                                <div class="col-lg-9">
                                    <a class="padding-5" ng-click="selectService(6, 'verVal')">
                                        <i class="fa fa-file-text-o fa-fw"></i> Verification & Validation Front End
                                    </a>
                                </div>
                                <div class="col-lg-3">
                                    <a class="padding-5" ng-click="selectService(6, 'verVal')">
                                        <span class="text-muted small">Sign up</span>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>

                        <li>
                            <div class="row">
                                <div class="col-lg-9">
                                    <a class="padding-5" ng-click="selectService(6, 'mailRoom')">
                                        <i class="fa fa-file-text-o fa-fw"></i> Document Sorting/Mailroom
                                    </a>
                                </div>
                                <div class="col-lg-3">
                                    <a class="padding-5" ng-click="selectService(6, 'mailRoom')">
                                        <span class="text-muted small">Sign up</span>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>

                        <li>
                            <div class="row">
                                <div class="col-lg-9">
                                    <a class="padding-5" ng-click="selectService(6, 'efCap')">
                                        <i class="fa fa-file-text-o fa-fw"></i> Electronic Forms Capture
                                    </a>
                                </div>
                                <div class="col-lg-3">
                                    <a class="padding-5" ng-click="selectService(6, 'efCap')">
                                        <span class="text-muted small">Sign up</span>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>

                        <li>
                            <div class="row">
                                <div class="col-lg-9">
                                    <a class="padding-5" ng-click="selectService(6, 'scrapNorm')">
                                        <i class="fa fa-file-text-o fa-fw"></i> Data Scraping and Normalization
                                    </a>
                                </div>
                                <div class="col-lg-3">
                                    <a class="padding-5" ng-click="selectService(6, 'scrapNorm')">
                                        <span class="text-muted small">Sign up</span>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>

                        <li>
                            <div class="row">
                                <div class="col-lg-9">
                                    <a class="padding-5" ng-click="selectService(6, 'translation')">
                                        <i class="fa fa-file-text-o fa-fw"></i> Translation
                                    </a>
                                </div>
                                <div class="col-lg-3">
                                    <a class="padding-5" ng-click="selectService(6, 'translation')">
                                        <span class="text-muted small">Sign up</span>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>

                        <li>
                            <div class="row">
                                <div class="col-lg-9">
                                    <a class="padding-5" ng-click="selectService(6, 'digitEye')">
                                        <i class="fa fa-file-text-o fa-fw"></i> DigitEYE Desktop Lamp & Document Scanner
                                    </a>
                                </div>
                                <div class="col-lg-3">
                                    <a class="padding-5" ng-click="selectService(6, 'digitEye')">
                                        <span class="text-muted small">Sign up</span>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>

                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>

                <!-- /.dropdown -->
            </ul>

            <ul class="nav navbar-top-links navbar-right hidden-xs">
                <a ng-click="selectService(6);" ng-if="userData.UserData.UserRoleId==2"><i class="fa fa-shopping-cart fa-fw"></i> Services Store</a>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a ui-sref="main.dashboard.profile"> <i class="fa fa-user fa-fw"></i> Profile <b>{{userData.UserData.FirstName}} {{userData.UserData.LastName}}</b> </a>
                        </li>

                        <li ng-show="userData.UserData.UserRoleId==2">
                            <a ui-sref="main.dashboard.users"><i class="fa fa-users fa-fw"></i> Users</a>
                        </li>

                        <li ng-if="userData.UserData.UserRoleId == 2">
                            <a ui-sref="main.dashboard.notifPref"><i class="fa fa-bell fa-fw" aria-hidden="true"></i> Notifications Preferences</a>
                        </li>

                        <li ng-if="userData.UserData.UserRoleId == 2">
                            <a ui-sref="main.dashboard.subscr"><i class="fa fa-usd fa-fw" aria-hidden="true"></i> Upgrade to Paid Plan</a>
                        </li>
                        <li class="divider visible-sm"></li>
                        <li class="visible-sm"><a href="http://www.datacapture.cloud/">Home</a></li>
                        <li class="visible-sm"><a href="http://www.datacapture.cloud/portal_support">Support</a></li>
                        <li class="visible-sm"><a href="http://www.datacapture.cloud/portal_faq">FAQ</a></li>
                        <li class="visible-sm"><a href="http://www.datacapture.cloud/portal_documentation">Documentation</a></li>
                        <li class="visible-sm"><a href="#"><i class="fa fa-search"></i></a></li>
                        <li class="divider"></li>
                        <li>
                            <a ng-click="exitQuestion();"><i class="fa fa-sign-out fa-fw"></i> Exit</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>

            <!-- /.navbar-top-links -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <!-- ADMIN & ACCOUNTS OWNER-->
                    <ul class="nav" id="side-menu" ng-show="userData.UserData.UserRoleId==1">

                        <li>
                            <a ui-sref="main.dashboard.users"><i class="fa fa-users fa-fw"></i> Users</a>
                        </li>

                        <li>
                            <a ui-sref="main.dashboard.adminSettings"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>

                        <li>
                            <a ui-sref="main.dashboard.systemSettings"><i class="fa fa-database fa-fw"></i> System Settings</a>
                        </li>

                        <li>
                            <a ui-sref="main.dashboard.adminStatistics"><i class="fa fa-pie-chart fa-fw"></i> Statistics</a>
                        </li>

                        <li>
                            <a ui-sref="main.dashboard.subscriptionsPlansLibrary"><i class="fa fa-bell fa-fw"></i> Subscription plans</a>
                        </li>
                        <li>
                            <a ui-sref="main.dashboard.communication"><i class="fa fa-commenting fa-fw"></i> Communication</a>
                        </li>
                    </ul>

                    <!--end ADMIN-->
                    <!-- SINGLE FILE Conversion -->
                    <ul class="nav" id="side-menu" ng-show="(userData.UserData.UserRoleId==3 || userData.UserData.UserRoleId==2 || userData.UserData.UserRoleId==4) && serviceStateId==1">

                        <li ng-show="userData.UserData.UserRoleId!=4" ng-class="{'highlighted-service-menu': $state.includes('main.dashboard.single')}">
                            <a ui-sref="main.dashboard.single"><i class="fa fa-eye fa-fw"></i> Convert Document</a>
                        </li>

                        <li ng-class="{'highlighted-service-menu': $state.includes('main.dashboard.library')}">
                            <a ui-sref="main.dashboard.library"><i class="fa fa-list fa-fw"></i> Conversion Library</a>
                        </li>

                        <li ng-show="userData.UserData.UserRoleId!=4" ng-class="{'highlighted-service-menu': $state.includes('main.dashboard.singleprofile')}">
                            <a ui-sref="main.dashboard.singleprofile"><i class="fa fa-bolt fa-fw"></i> Conversion Profile(s)</a>
                        </li>

                        <!--<li ng-show="userData.UserData.UserRoleId==2" ng-class="{'highlighted-service-menu': $state.includes('main.dashboard.singlesettings')}">
                            <a ui-sref="main.dashboard.singlesettings"><i class="fa fa-gear"></i> Service Settings</a>
                        </li>-->

                    </ul>
                    <!--end SFC-->
                    <!-- BATCH Conversion -->
                    <ul class="nav" id="side-menu" ng-show="(userData.UserData.UserRoleId==3 || userData.UserData.UserRoleId==2 || userData.UserData.UserRoleId==4) && serviceStateId==2">

                        <li ng-show="userData.UserData.UserRoleId!=4" ng-class="{'highlighted-service-menu': $state.includes('main.dashboard.batch')}">
                            <a ui-sref="main.dashboard.batch"><i class="fa fa-file-archive-o fa-fw"></i> Load Batch</a>
                        </li>

                        <li ng-class="{'highlighted-service-menu': $state.includes('main.dashboard.library')}">
                            <a ui-sref="main.dashboard.library"><i class="fa fa-list fa-fw"></i> Conversion Library</a>
                        </li>

                        <li ng-show="userData.UserData.UserRoleId!=4" ng-class="{'highlighted-service-menu': $state.includes('main.dashboard.batchprofile')}">
                            <a ui-sref="main.dashboard.batchprofile"><i class="fa fa-bolt fa-fw"></i> Conversion Profile(s)</a>
                        </li>

                        <!--<li ng-show="userData.UserData.UserRoleId==2" ng-class="{'highlighted-service-menu': $state.includes('main.dashboard.batchsettings')}">
                            <a ui-sref="main.dashboard.batchsettings"><i class="fa fa-gear"></i> Service Settings</a>
                        </li>-->
                    </ul>
                    <!--end BATCh-->
                    <!-- email Attachment -->
                    <ul class="nav" id="side-menu" ng-show="(userData.UserData.UserRoleId==3 || userData.UserData.UserRoleId==2 || userData.UserData.UserRoleId==4) && serviceStateId==4">


                        <li ng-class="{'highlighted-service-menu': $state.includes('main.dashboard.library')}">
                            <a ui-sref="main.dashboard.library"><i class="fa fa-list fa-fw"></i> Conversion Library</a>
                        </li>

                        <li ng-show="userData.UserData.UserRoleId!=4" ng-class="{'highlighted-service-menu': $state.includes('main.dashboard.emailprofile')}">
                            <a ui-sref="main.dashboard.emailprofile"><i class="fa fa-bolt fa-fw"></i> Conversion Profile(s)</a>
                        </li>

                        <li ng-show="userData.UserData.UserRoleId==2" ng-class="{'highlighted-service-menu': $state.includes('main.dashboard.emailsettings')}">
                            <a ui-sref="main.dashboard.emailsettings"><i class="fa fa-gear fa-fw"></i> Service Settings</a>
                        </li>
                    </ul>
                    <!--end EMAIL-->
                    <!-- FTP -->
                    <ul class="nav" id="side-menu" ng-show="(userData.UserData.UserRoleId==3 || userData.UserData.UserRoleId==2 || userData.UserData.UserRoleId==4) && serviceStateId==3">


                        <li ng-class="{'highlighted-service-menu': $state.includes('main.dashboard.library')}">
                            <a ui-sref="main.dashboard.library"><i class="fa fa-list fa-fw"></i> Conversion Library</a>
                        </li>

                        <li ng-show="userData.UserData.UserRoleId!=4" ng-class="{'highlighted-service-menu': $state.includes('main.dashboard.ftpprofile')}">
                            <a ui-sref="main.dashboard.ftpprofile"><i class="fa fa-bolt fa-fw"></i> Conversion Profile(s)</a>
                        </li>

                        <li ng-show="userData.UserData.UserRoleId==2" ng-class="{'highlighted-service-menu': $state.includes('main.dashboard.ftpsettings')}">
                            <a ui-sref="main.dashboard.ftpsettings"><i class="fa fa-gear fa-fw"></i> Service Settings</a>
                        </li>
                    </ul>
                    <!--end FTP-->
                    <!--PROFILE -->
                    <ul class="nav" id="side-menu" ng-show="(userData.UserData.UserRoleId==3 || userData.UserData.UserRoleId==2 || userData.UserData.UserRoleId==4) && serviceStateId==5">

                        <li>
                            <a ui-sref="main.dashboard.profile"><i class="fa fa-user fa-fw"></i> Profile Details</a>
                        </li>

                    </ul>
                    <!--end PROFILE-->
                    <!--STORE -->
                    <ul class="nav" id="side-menu" ng-show="(userData.UserData.UserRoleId==3 || userData.UserData.UserRoleId==2) && serviceStateId==6">

                        <li>
                            <a ui-sref="main.dashboard.store"><i class="fa fa-shopping-cart fa-fw"></i> Store Details</a>
                        </li>

                    </ul>
                    <ul class="nav" id="side-menu" ng-show="(userData.UserData.UserRoleId==3 || userData.UserData.UserRoleId==2)">
                        <li class="divider visible-xs"></li>
                        <li class="visible-xs">
                            <a ng-click="selectService(6);" ng-if="userData.UserData.UserRoleId==2"><i class="fa fa-shopping-cart"></i> Services Store</a>
                        </li>
                        <li class="visible-xs">
                            <a ui-sref="main.dashboard.profile"> <i class="fa fa-user fa-fw"></i> Profile <b>{{userData.UserData.FirstName}} {{userData.UserData.LastName}}</b> </a>
                        </li>

                        <li class="visible-xs">
                            <a href="javascript: void(0);"><i class="fa fa-gear fa-fw"></i> Account Settings</a>
                        </li>

                        <li class="visible-xs">
                            <a ui-sref="main.dashboard.notifPref"><i class="fa fa-bell fa-fw" aria-hidden="true"></i> Notifications Preferences</a>
                        </li>

                        <li class="visible-xs">
                            <a ui-sref="main.dashboard.subscr"><i class="fa fa-usd fa-fw" aria-hidden="true"></i> Upgrade to Paid Plan</a>
                        </li>
                    </ul>
                    <ul class="nav" id="side-menu">
                        <li class="divider visible-xs"></li>
                        <li class="visible-xs"><a href="http://www.datacapture.cloud/">Home</a></li>
                        <li class="visible-xs"><a href="http://www.datacapture.cloud/portal_support">Support</a></li>
                        <li class="visible-xs"><a href="http://www.datacapture.cloud/portal_faq">FAQ</a></li>
                        <li class="visible-xs"><a href="http://www.datacapture.cloud/portal_documentation">Documentation</a></li>
                        <li class="visible-xs"><a href="#"><i class="fa fa-search fa-fw"></i></a></li>
                        <li class="divider visible-xs"></li>
                        <li class="visible-xs">
                            <a ng-click="exitQuestion();"><i class="fa fa-sign-out fa-fw"></i> Exit</a>
                        </li>
                    </ul>
                    <!--end PROFILE-->
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
    </div>
    <div id="page-wrapper" class="dashboard-container">
        <span us-spinner spinner-key="spinner-1" spinner-start-active="false"></span>
        <div ui-view></div>


    </div>
    <script type="text/ng-template" id="warning-dialog.html">
        <div class="modal-header">
            <h3>You are idle !</h3>
        </div>
        <div idle-countdown="countdown" ng-init="countdown=30" class="modal-body">
            Session will be closed in {{countdown}} sec.
            <uib-progressbar max="30" value="countdown" animate="true" class="progress-striped active"></uib-progressbar>
        </div>

    </script>
</div>