<div class="container" ng-controller="loginController">
    <div class="row">
        <span us-spinner spinner-key="spinner-1" spinner-start-active="false"></span>
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Sign In</h3>
                </div>
                <div class="panel-body">
                    <form role="form" name="loginForm" novalidate>
                            <div class="form-group" ng-class="{ true: 'has-error'}[loginForm.login.$invalid && (loginForm.login.$touched || submitted)]">
                                <input class="form-control" id="login" name="login" placeholder="Login" ng-model="Login" type="text" ng-maxlength="16" autofocus required>
                                <div class="help-block with-errors" ng-messages="loginForm.login.$error" ng-if="loginForm.login.$touched || submitted">
                                    <div ng-message="required">Field "Login" must be filled</div>
                                    <div ng-message="maxlength">Login must be not more 16 characters</div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ true: 'has-error'}[loginForm.userPassword.$invalid && (loginForm.userPassword.$touched || submitted)]">
                                <input class="form-control" id="password" name="userPassword" placeholder="Password" ng-model="Password" type="password" minlength="3" ng-maxlength="10" required>
                                <div class="help-block with-errors" ng-messages="loginForm.userPassword.$error" ng-if="loginForm.userPassword.$touched || submitted">
                                    <div ng-message="required">Field "Password" must be filled</div>
                                    <div ng-message="minlength">Password length must be at least 3 characters </div>
                                    <div ng-message="maxlength">Password length must be no more than 10 characters</div>
                                </div>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" ng-model="rememberMe" value="Remember Me">Remember Me
                                </label>

                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <a ng-click="loginUser()" class="btn btn-lg btn-success btn-block">Sign In</a>
                            <!--<span us-spinner spinner-key="spinner-2"></span>-->

                            <a ng-click="registrationUser()"  class="btn btn-lg btn-primary btn-block">Sign Up</a>
                            <a ng-click="restoreUser()" >Forgot your passsword?</a>
                    
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>