<div ng-controller="singleFileConversionController">

    <div class="container" ng-show="!loadData">




        <div class="panel panel-info">
            <div class="panel-heading"><strong>STEP 1: Provide image or PDF to process</strong></div>
            <div class="panel-body row" id="tformdiv">
                <div class="col-md-4">
                    <!-- Standar Form -->
                    <h4>Select file</h4>
                    <form id="lForm" action="" method="post" enctype="multipart/form-data">
                        <div class="form-inline">
                            <div class="form-group">
                                <input type="file" name="filesToUpload" onchange="angular.element(this).scope().addThruChoice(this)" id="js-upload-files"
                                       accept=".png,.jpg,.jpeg,.bmp,.tif,.tiff,.pdf">
                            </div>
                        </div>
                    </form>
                    <div style="color: lightgray">Max size 100 MB (PDF, JPG, TIF, BMP, PCX, DCX, PNG)</div>
                </div>
                <div class="col-md-4">
                    <!-- Drop Zone -->
                    <h4>Or drop file</h4>
                    <div class="upload-drop-zone" id="drop-zone">
                        Drop here
                    </div>
                    <div class="progress" ng-show="showProgressBar">
                        <div class="progress-bar" id="proBar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                            <span class="sr-only">0% Done</span>
                        </div>
                    </div>
                    <div ng-repeat="file in files">{{file.name}} <span class="glyphicon glyphicon-remove " style="color:red" ng-click="removeFromFiles(index)"></span></div>

                </div>
                <div class="col-md-4">
                    <h4>Or paste URL</h4>
                    <form name="urlForm">
                        <div ng-class="{ true: 'has-error'}[urlForm.pastedUrlInput.$invalid && (urlForm.pastedUrlInput.$touched)]">
                            <input name="pastedUrlInput" class="form-control" type="url" ng-model="pastedUrl" ng-change="files = []"/>
                            <div class="help-block" ng-messages="urlForm.pastedUrlInput.$error" ng-if="urlForm.pastedUrlInput.$touched">
                                <div ng-message="url">Please input correct URL</div>
                            </div>
                        </div>
                    </form>
                </div>


            </div>


        </div>

        <!--PROFILES-->
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-7"> <strong>STEP 2: Customize your OCR settings or select an existing Profile</strong></div>
                    <div class="col-lg-5 panel-heading-btn">
                        <button type="button" ng-show="profileIsChanged" class="btn btn-success btn-sm" ng-click="updateSettings();" data-toggle="tooltip"
                                title="Save Profile" data-placement="bottom" ng-disabled="newProfile">

                            <span class="glyphicon glyphicon-check"></span> Update Current Profile
                        </button>
                        <button type="button" ng-show="profileIsChanged" class="btn btn-primary btn-sm orange-tooltip" ng-click="showNewProfile(true)" data-toggle="tooltip"
                                title="Add New Profile" data-placement="bottom">

                            <span class="glyphicon glyphicon-plus"></span>  Save to New Profile
                        </button>
                    </div>
                </div>
            </div>
            <!--<div class="panel-body">-->


            <div class="input-group">
                <span class="input-group-addon input-group-addon-same-width">
                    Select Capture Profile
                </span>
                <select class="form-control" ng-change="changeProfile()" ng-options="profile as profile.Name for profile in profiles track by profile.Id"
                        ng-model="currentProfile"></select>


            </div>
            <div id="toolbar">
                <div class="input-group" ng-show="newProfile">

                    <span class="input-group-addon input-group-addon-same-width">
                        New Profile Name
                    </span>
                    <input type="text" class="form-control" placeholder="New profile name" ng-model="NewProfileName">
                    <span class="input-group-btn">
                        <button class="btn btn-success no-border-radius" type="button" ng-click="addCustomProfile();" ng-disabled="NewProfileName==''"><span class="glyphicon glyphicon-ok"></span></button>
                    </span>

                    <span class="input-group-btn">
                        <button class="btn btn-danger" type="button" ng-click="hideNewProfilePanel();"><span class="glyphicon glyphicon-remove"></span></button>
                    </span>
                </div>
            </div>
            <br />
            <!--</div>-->

            <div class="panel-group">
                <div class="panel panel-success" style="margin-top: -2%">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="javascript:;" data-toggle="collapse" data-parent="#accordion" data-target="#collapse1">
                                <span class="glyphicon glyphicon-plus"></span>
                                Conversion Settings
                            </a><!--{{currentProfile.Name}} Profile Details>-->
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <!--PROFILE DETAILS-->
                        <div class="row">
                            <div class="col-md-4">
                                <div class="panel panel-info">
                                    <div class="panel-heading">Cleanup Settings</div>
                                    <!--<div class="panel-body">-->

                                    <ul class="list-group">

                                        <li class="list-group-item">
                                            Deskew
                                            <div class="material-switch pull-right">
                                                <input id="deskew" type="checkbox" ng-model="currentProfile.Deskew" />
                                                <label for="deskew" class="label-success"></label>
                                            </div>
                                        </li>

                                        <li class="list-group-item">
                                            Remove Garbage
                                            <div class="material-switch pull-right">
                                                <input id="removeGarbage" type="checkbox" ng-model="currentProfile.RemoveGarbage" />
                                                <label for="removeGarbage" class="label-success"></label>
                                            </div>
                                        </li>

                                        <li class="list-group-item">
                                            Remove Texture
                                            <div class="material-switch pull-right">
                                                <input id="removeTexture" type="checkbox" ng-model="currentProfile.RemoveTexture" />
                                                <label for="removeTexture" class="label-success"></label>
                                            </div>
                                        </li>

                                        <li class="list-group-item">
                                            Split Dual Page
                                            <div class="material-switch pull-right">
                                                <input id="splitDualPage" type="checkbox" ng-model="currentProfile.SplitDualPage" />
                                                <label for="splitDualPage" class="label-success"></label>
                                            </div>
                                        </li>

                                        <li class="list-group-item">
                                            <div class="input-group">
                                                <span class="input-group-addon" id="sizing-addon_rotation">Rotation Type</span>

                                                <select class="form-control" ng-options="rotation as rotation.Name for rotation in currentProfile.AvailableRotationTypes track by rotation.Id"
                                                        ng-model="currentProfile.SelectedRotationType" aria-describedby="sizing-addon_rotation"></select>
                                            </div>
                                        </li>

                                        <!--<li class="list-group-item">
                                            <div class="input-group">
                                                <span class="input-group-addon" id="sizing-addon_out">Output Format</span>

                                                <input type="text" class="form-control" ng-model="currentProfile.OutputFormat" aria-describedby="sizing-addon_out">
                                            </div>
                                        </li>

                                        <li class="list-group-item">
                                            <div class="input-group">
                                                <span class="input-group-addon" id="sizing-addon_res">Resolution</span>
                                                <input type="text" class="form-control" ng-model="currentProfile.Resolution" aria-describedby="sizing-addon_res">
                                            </div>

                                        </li>

                                        <li class="list-group-item">
                                            <div class="input-group">
                                                <span class="input-group-addon" id="sizing-addon_jpeg">Jpeg Quality</span>
                                                <input type="text" class="form-control" ng-model="currentProfile.JpegQuality" aria-describedby="sizing-addon_jpeg">
                                            </div>

                                        </li>-->
                                    </ul>

                                    <!--</div>-->
                                    <div class="panel panel-info form-group">
                                        <div class="panel-heading">Print Types</div>

                                        <ul class="list-group">
                                            <li class="list-group-item" ng-repeat="print in currentProfile.AvailablePrintTypes">
                                                {{print.Name}}
                                                <div class="material-switch pull-right">
                                                    <input id="{{print.Name}}" type="checkbox" checklist-model="currentProfile.SelectedPrintTypes" checklist-value="print" checklist-comparator=".Id"
                                                           checklist-change="imChanged()" />
                                                    <label for="{{print.Name}}" class="label-success"></label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="panel panel-info">
                                    <div class="panel-heading">OCR Settings</div>
                                    <!--<div class="panel-body">-->
                                    <li class="list-group-item">
                                        Speed OCR
                                        <div class="material-switch pull-right">
                                            <input id="speedOcr" type="checkbox" ng-model="currentProfile.SpeedOcr" />
                                            <label for="speedOcr" class="label-success"></label>
                                        </div>
                                    </li>

                                    <li class="list-group-item">
                                        Look For BarCodes
                                        <div class="material-switch pull-right">
                                            <input id="lookForBarCodes" type="checkbox" ng-model="currentProfile.LookForBarCodes" />
                                            <label for="lookForBarCodes" class="label-success"></label>
                                        </div>
                                    </li>

                                    <li class="list-group-item">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="sizing-addon_analysis_mode">Analysis Mode</span>

                                            <select class="form-control" ng-options="aMode as aMode.Name for aMode in currentProfile.AvailableAnalysisModes track by aMode.Id"
                                                    ng-model="currentProfile.SelectedAnalysisModel" aria-describedby="sizing-addon_analysis_mode"></select>
                                        </div>
                                    </li>


                                    <div class="panel panel-info form-group">
                                        <div class="panel-heading">Languages</div>
                                        <input type="text" class="form-control" placeholder="Filter" ng-model="searchLangText">
                                        <ul class="list-group" style="height: 200px; overflow-y: scroll;">
                                            <li class="list-group-item" ng-repeat="lang in currentProfile.AvailableLanguages | filter:searchLangText">
                                                {{lang.Name}}
                                                <div class="material-switch pull-right">
                                                    <input id="{{lang.Name}}" type="checkbox" checklist-model="currentProfile.SelectedLanguages" checklist-value="lang" checklist-comparator=".Id"
                                                           checklist-change="imChanged()" />
                                                    <label for="{{lang.Name}}" class="label-success"></label>
                                                </div>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="panel panel-info">
                                    <div class="panel-heading">Output Settings</div>
                                    <!--<div class="panel-body">-->
                                    <ul class="list-group">
                                        <li class="list-group-item" ng-repeat="format in currentProfile.AvailableExportFormats">
                                            {{format.Name}}
                                            <div class="material-switch pull-right">
                                                <input id="{{format.Name}}" type="checkbox" checklist-model="currentProfile.SelectedExportFormats" checklist-value="format"
                                                       checklist-comparator=".Id" checklist-change="imChanged()" />
                                                <label for="{{format.Name}}" class="label-success"></label>
                                            </div>
                                        </li>
                                    </ul>

                                </div>
                            </div>

                            <!--</div>-->
                        </div>
                        <!--END PROFILE DETAILS-->

                    </div>
                </div>
            </div>
        </div>



        <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="uploadImages()" ng-disabled="files.length==0 && !pastedUrl">STEP 3: Start Recognition</button>
    </div>
    <!--END PROFILES-->
</div>