<div ng-controller="singleLibraryController">

    <div class="container">

        <div class="row" ng-show="!loading">
            <div id="toolbar">
                <button type="button" class="btn btn-danger orange-tooltip" ng-if="userData.UserData.UserRoleId!=4" ng-click="gotoDeleteSelectedPositions();" data-toggle="tooltip" title="Delete selected" data-placement="bottom">

                    <span class="glyphicon glyphicon-trash"></span> Delete selected
                </button>
            </div>
            <div class="form-inline">
                <table id="table" data-toolbar="#toolbar" data-search="true" data-show-columns="true" data-pagination="true" data-height="300" data-toggle="table"
                       data-page-list="[5,10, 25, 50, 100, 250, 500, All]">
                    <thead>

                        <tr>
                            <th data-field="state" data-checkbox="true" data-click-to-select="true" ng-if="userData.UserData.UserRoleId!=4"></th>
                            <th data-field="ViewId" data-visible="false" data-sortable="true">Conversion ID</th>
                            <th data-field="ViewTaskId" data-sortable="true">Task ID</th>
                            <th data-field="dateTime" data-sortable="true">Request Date</th>
                            <th data-field="fileSize" data-sortable="true">Size (MB)</th>
                            <th data-field="fileName" data-sortable="true">Original File Name</th>
                            <th data-field="stateName" data-sortable="true">Status</th>
                            <th data-field="typeName" data-visible="false" data-sortable="true">Input File Type</th>
                            <th data-field="href" data-formatter="downloadFormatterLibrary" data-events="actionEventsSingleLibrary" data-sortable="true">Original File(s)</th>
                            <th data-field="results" data-events="actionEventsSingleLibrary" data-sortable="true">Result File(s)</th>
                            <th data-field="serviceName" data-visible="false" data-sortable="true">Service Name</th>
                            <th data-field="delete" data-visible="false" data-formatter="deleteFormatterFileSingleLibrary" data-events="actionEventsSingleLibrary" style="text-align:center;">Delete</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>