<div ng-controller="subscriptionsPlansLibraryController">

    <div class="container">
        <div class="row" ng-show="!loading">
            <div id="toolbar">
                <!--<button type="button" id="delete-plan" ng-click="gotoDeleteSelectedPositions()" class="btn btn-danger orange-tooltip" title="Delete selected">
                    <span class="glyphicon glyphicon-trash"></span> Delete selected
                </button>-->
                <button id="add-plan" type="button" class="btn btn-primary orange-tooltip" ng-click="addNewPlan()" data-toggle="tooltip" data-placement="bottom" title="Add new plan">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
            <div class="form-inline">
                <table id="table" data-toolbar="#toolbar" data-search="true" data-show-columns="true" data-pagination="true" data-height="300" data-toggle="table">
                    <thead>

                    <tr>
                        <!--<th data-checkbox="true" data-click-to-select="true"></th>-->
                        <th data-field="Id" data-sortable="true">Id</th>
                        <th data-field="Name" data-sortable="true">Name</th>
                        <th data-field="SubscriptionPlanTypeName" data-sortable="true">Type</th>
                        <th data-field="Expiration" data-sortable="true">Expiration</th>
                        <th data-field="CostPerPage" data-sortable="true">Cost (per page)</th>
                        <th data-field="PagesInInterval" data-sortable="true">Pages per renewal interval</th>
                        <th data-field="AltCostPerPage" data-sortable="true">Cost (per page over plan)</th>
                        <th data-field="SubscriptionPlanStateName" data-sortable="true">State</th>
                        <th data-field="update" data-formatter="actionFormatterPlan" data-events="actionEventsPlan" data-width="5%" style="text-align:center;"></th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>