<div ng-controller="usersController">

    <div class="container">

        <div class="row" ng-show="!loading">
            <div id="toolbar">
                <button type="button" class="btn btn-primary orange-tooltip" ng-click="gotoAddNewUserView();" data-toggle="tooltip" title="Add New User" data-placement="bottom">
                    
                    <span class="glyphicon glyphicon-plus" ></span>
                    </button>
                
                <button type="button" class="btn btn-success orange-tooltip" ng-click="downloadUsersCsv();" data-toggle="tooltip" title="Download user's info" data-placement="bottom">

                    <span class="glyphicon glyphicon-download-alt"></span> Download users' info
                </button>
            </div>

            <!--<div class="alert alert-success" id="eventsResult">
                Here is the result of event.
            </div>-->
            <div class="form-inline">
                <table id="table" data-toolbar="#toolbar" data-search="true" data-show-columns="true" data-pagination="true" data-height="300" data-toggle="table" data-page-list="[5,10, 25, 50, 100, 250, 500, All]">
                    <thead>
                        <tr>
                            <th data-field="viewId" data-sortable="true">UserId</th>
                            <th data-field="userName" data-sortable="true">First Name</th>
                            <th data-field="userLastName" data-sortable="true">Last Name</th>
                            <th data-field="roleName" data-sortable="true">User Role</th>
                            <th data-field="lastActivityDate" data-sortable="true">Last Activity</th>
                            <th data-field="email" data-visible="false" data-sortable="true">E-mail</th>
                            <th data-field="companyName" data-visible="false" data-sortable="true">Company</th>
                            <th data-field="phoneNum" data-visible="false" data-sortable="true">Phone</th>
                            <th data-field="regDate" data-visible="false" data-sortable="true">Registration Date</th>
                            <th data-field="parentName" data-visible="false" data-sortable="true" ng-show="userData.UserData.UserRoleId==1">User's Account Owner</th>
                            <th data-field="action" data-formatter="actionCsvUser" data-events="actionEventsUser" data-width="5%" style="text-align:center;"></th>
                            <th data-field="update" data-formatter="actionFormatterUser" data-events="actionEventsUser" data-width="5%" style="text-align:center;"></th>
                            <th data-field="delete" data-formatter="actionDeleteUser" data-events="actionEventsUser" data-width="5%" style="text-align:center;"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>